.application table {
  width: auto;
}
.application tbody, .application tr {
  border: 0;
}
.application td {
  vertical-align: top;
  padding: 0.4em 0.1em;
}
.application .links {
  font-size: 0.8em;
}
.application .author {
  color: #999;
  font-size: 0.8em;
}
.application .node-form fieldset {
  display: block;
}
.application .node-form {
  float: left;
  padding-right: 2em;
}
